.titulo-principal {
    margin: 82px 0 82px 82px;
}

.titulo-principal h1{
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.titulo-principal p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

/* cursos */

.card-cursos{
    display: flex;
    align-items: center;
    margin: 95px 0 68px 112px;
}

.card-cursos img{
    width: 380px;
}

.descricao-curso{
    margin-left: 53px;
}
.descricao-curso h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    margin: 21px 0 37px 0;
}

.descricao-curso p{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    width: 724px;
    margin: 0 0 65px 0;
}

.descricao-curso a{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    background: #419488;
    border-radius: 62px;
    color: #FFFFFF;
    padding: 10px 35px;
}

footer{
    margin-top: 200px;
}
@media screen and (max-width: 1200px) {
    .card-cursos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 90px auto 90px auto;
        text-align: center;
}
.card-cursos p{
    text-align: justify;

}
}

@media screen and (max-width: 769px){
    .descricao-curso p{
        width: auto;
    }
    .card-cursos{
        margin: 0 20px 90px 0;
    
    }
}

@media screen and (max-width: 582px){
    .titulo-principal{
        margin: 82px 20px;
    }
    .titulo-principal h1{
        text-align: center;
    }
    .titulo-principal p{
        text-align: center;
    }
    .card-cursos img {
      width: auto;
    
}
    .card-cursos{
    width: auto;
    margin: 90px 30px 90px 0;

}
}